# Edit this file to introduce tasks to be run by cron.
48 20 * * * bash /home/PrototypingInterfaces/GIT/GitScripts/UpdateSubtreeBranchesZipResults.sh > /home/PrototypingInterfaces/GIT/GitScripts/UpdateSubtreeBranchesZipResults.log
12 21 * * * /home/PrototypingInterfaces/GIT/GitScripts/ZipBranch.sh > /home/PrototypingInterfaces/GIT/GitScripts/ZipBranches.log

